<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Curso Diseño Web{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>Improve Yourself</h1>
            <nav>
                <a href="{{ path('homepage') }}">Home</a> | 
                <a href="{{ path('app_login') }}">Log in</a> | 
                <a href="{{ path('app_register') }}">Sign up</a> |
                <a href="{{ path('registroEst') }}">Registro estudiante</a>
                <!--a href="{{ path('app_logout') }}">Log out</a-->
            </nav>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
